/* Defaults before javascritp load */

#basic_html {
  display: none;
}
#basic_html_2 {
  display: none;
}
#drupal_module {
  display: none;
}

.inlineblock {
  display: inline-block;
  vertical-align: top;
}

#errorbox {
  border: 1px solid #f00;
  background-color: #fcc;
  color: #a00;
  margin-bottom: 10px;
}